.random-dog-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dog-button {
    background-color: #191919;
    color: #fff;
    font-size: 36px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 24px;
}

.dog-placeholder {
    font-size: 24px;
}